@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Level";
}
<br/>
<br/>
<h1 style="text-align: center">Select Difficult Level</h1>
<br/>

<div class="text-center">

    <a href='@Url.Action("ChangeDifficulty", "Account", new { difficultyNumber = 1})' class="btn btn-primary">Easy</a>
    <a href='@Url.Action("ChangeDifficulty", "Account", new { difficultyNumber = 2})' class="btn btn-primary">Normal</a>
    <a href='@Url.Action("ChangeDifficulty", "Account", new { difficultyNumber = 3})' class="btn btn-primary">Hard</a>

</div>