@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Language";
}
<br/>
<br/>
<h1 style="text-align: center">Select Language</h1>
<br/>

<div class="text-center">
    <a href='@Url.Action("ChangeLanguage", "Words", new { language = "pl"})' class="btn btn-primary">Polish</a>
    <a href='@Url.Action("ChangeLanguage", "Words", new { language = "eng"})' class="btn btn-primary">English</a>
</div>