@model ZTP.Models.Word
@{
    ViewData["Title"] = "Learn";
}

<h1>Learn</h1>



<div>
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolishWord)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForeignLanguageWord)
        </dd>
    </dl>
</div>
