@model ZTP.Models.ModelView.QuestionViewModel
@{
    ViewData["Title"] = "Learn";
}

<h1>Learn</h1>



<div>
    <dl class="row">
        <dd class="col-sm-10">
            Correct Word: @Model.CorrectWord.PolishWord
        </dd>
        @foreach (Word word in Model.Answers)
        {
           <dd class="col-sm-10">
               --------------------
           </dd> 
            <dd class="col-sm-10">
                @word.PolishWord
            </dd>
            <dd class="col-sm-10">
                @word.ForeignLanguageWord
            </dd>
        }
    </dl>
</div>
