@model ZTP.Models.ModelView.QuestionViewModel
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>


<div>
    <dl class="row">
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.PolishWord)*@
        </dd>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.ForeignLanguageWord)*@
        </dd>
    </dl>
</div>
